
<form name="editForm" role="form" novalidate ng-submit="vm.addDate()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel">Lets add some Potential Dates...</h4>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-4">
                <h2>Event Details:</h2>
                <div>
                    <label for="title">Title</label>
                    <span id="title">{{vm.event.title}}</span>
                </div>
                <div>
                    <label for="desc">Description</label>
                    <span id="desc">{{vm.event.description}}</span>
                </div>
                <div>
                    <label for="cost">Est. Cost</label>
                    <span id="cost">{{vm.event.cost}}</span>
                </div>
                <h2>Location Details:</h2>
                <div>
                    <label for="name">Name</label>
                    <span id="name">{{vm.location.name}}</span>
                    <span>{{vm.location.streetAddress1}}</span>
                    <span ng-show="vm.location.streetAddress2">{{vm.location.streetAddress2}}</span>
                    <span>{{vm.location.city}}, {{vm.location.state}} {{vm.location.zipcode}}</span>
                </div>
            </div>
            <div class="col-lg-8">
                <jhi-alert-error></jhi-alert-error>
                <div class="potential-event-dates-list">
                    <h3>Potential Event Dates</h3>
                    <span class="row" id=potentialEventDates" ng-repeat="potentialEventDate in vm.event.potentialEventDates">
                        {{potentialEventDate.startDate | date:"medium"}} - {{potentialEventDate.endDate | date:"medium"}}{{$last ? '' : ', '}}
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.potentialEventDate.startDate" is-open="vm.datePickerOpenStatus.startDate"
                               required/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="editForm.startDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.startDate.$error.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.startDate.$error.ZonedDateTimelocal">
                            This field should be a date and time.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" ng-model="vm.potentialEventDate.endDate" is-open="vm.datePickerOpenStatus.endDate"
                               required/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="editForm.endDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.endDate.$error.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.endDate.$error.ZonedDateTimelocal">
                            This field should be a date and time.
                        </p>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" ng-click="vm.addDate()">Add Potential Date</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="input" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-click="vm.save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Submit</span>
        </button>
    </div>
</form>
