
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel">Create a new Event</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.event.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.event.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                   ng-model="vm.event.title"
                   required ng-minlength="1"/>
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                   ng-show="editForm.title.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.title.$error.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   ng-model="vm.event.description"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cost">Estimated Cost</label>
            <input type="text" class="form-control" name="cost" id="field_cost"
                   ng-model="vm.event.cost"
            />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
