
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel">Choose Your Available Dates </h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-lg-4">
                <h2>Event Details:</h2>
                <div>
                    <label for="title">Title</label>
                    <span id="title">{{vm.event.title}}</span>
                </div>
                <div>
                    <label for="desc">Description</label>
                    <span id="desc">{{vm.event.description}}</span>
                </div>
                <div>
                    <label for="cost">Est. Cost</label>
                    <span id="cost">{{vm.event.cost}}</span>
                </div>
                <h2>Location Details:</h2>
                <div class="row location_details">
                    <p>{{vm.location.name}}</p>
                    <p>{{vm.location.streetAddress1}}</p>
                    <p ng-show="vm.location.streetAddress2">{{vm.location.streetAddress2}}</p>
                    <p>{{vm.location.city}}, {{vm.location.state}} {{vm.location.zipcode}}</p>
                </div>
            </div>
            <div class="col-lg-8">
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label for="field_potentialEventDate">My Available Dates</label>
                    <select class="form-control" id="field_potentialEventDate" multiple name="potentialEventDate" ng-model="vm.votedDates" ng-options="potentialEventDate as ( (potentialEventDate.startDate|date:'medium') + ' - ' + (potentialEventDate.endDate|date: 'medium')) for potentialEventDate in vm.potentialeventdates track by potentialEventDate.id"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Submit</span>
        </button>
    </div>
</form>
